<h1>Where would you like to attack?</h1>

<%= form_for([@game, @shot]) do |f| %>
  <% if @shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
      <% @shot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= label_tag 'x', 'X coordinate'%>
  <%= f.text_field :x %>
  <br />
  <%= label_tag 'y', 'Y coordinate'%>
  <%= f.text_field :y %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', game_shots_path %>
